server {
  listen 80;
  root /www/data;
  location /api {
    proxy_pass      http://backend:${DJANGO_PORT}/api;
  }
  location /media {
  }
  location /admin {
  }
  location /rest_framework {
  }

}